<div class="weather-view">
  <h2>Current</h2>
  <table>
    <tr>
      <td id="icon" class={{todStyle}}>
        <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" width="75px"/>
      </td>
      <td id="desc">
        <p>{{description}}</p>
      </td>
      <td id="temp" class={{temperatureStyle}}>
        <mat-icon>thermostat</mat-icon> <p>{{temperature}} &deg;C</p>
      </td>
      <td id="rain">
        <mat-icon>water_drop</mat-icon> <p>{{precipitation}} mm</p>
      </td>
      <td id="wind">
        <mat-icon>air</mat-icon> <p>{{wind_speed}} m/s</p>
      </td>
    </tr>
  </table>

  <h2>Hourly progonsis</h2>
  <app-prognosis-table [dataSource]="hourlyTableObject"></app-prognosis-table>
</div>
