<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" aria-label="Weather progonsis">
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let weather">{{unixToLocal(weather.dt)}}</td>
    </ng-container>

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef>Icon</th>
      <td class={{getTimeOfDayStyle(weather.dt)}} mat-cell *matCellDef="let weather"><img src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" width="40px"/></td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td id="desc" mat-cell *matCellDef="let weather">{{capitalize(weather.weather[0].description)}}</td>
    </ng-container>

    <ng-container matColumnDef="temp">
      <th mat-header-cell *matHeaderCellDef>Temperature</th>
      <td id="temp" class={{getTemperatureStyle(weather.temp)}} mat-cell *matCellDef="let weather">{{weather.temp}} &deg;C</td>
    </ng-container>

    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef>Humidity</th>
      <td id="humid" mat-cell *matCellDef="let weather">{{weather.humidity}} %</td>
    </ng-container>

    <ng-container matColumnDef="precipitation">
      <th mat-header-cell *matHeaderCellDef>Precipitation</th>
      <td id="rain" mat-cell *matCellDef="let weather">{{getPrecipitation(weather)}} mm</td>
    </ng-container>

    <ng-container matColumnDef="wind">
      <th mat-header-cell *matHeaderCellDef>Wind</th>
      <td id="wind" mat-cell *matCellDef="let weather">{{weather.wind_speed}} m/s</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
