.example-form {
  min-width: 100px;
 
  width: 40%;
  height: 50px;
   
  margin: auto;
  
}

.formular{
display:  flex;
justify-content: center;
align-items: center;
flex-direction:  column;

}

.form-control{
}
.header{
	display:  flex;
justify-content: center;
align-items: center;
flex-direction:  column;
}

.example-full-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.bg-color-whatever {
	height: 50%;
	display: flex;


}
.bg-color-primary {
	height: 50%;
	display: flex;
	background-color: primary;
	 
}
.box {
  box-sizing: border-box;
}

