

  <div [hidden]="submitted">
    <mat-toolbar color="primary" >
    <mat-toolbar-row class="bg-color-primary" >
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    </mat-toolbar>
 <form  (ngSubmit)="onSubmit()" #searchCity="ngForm">
    <mat-form-field class="example-form" appearance="fill"  >
        <mat-label>Search City</mat-label>
          <input matInput #message maxlength="256" placeholder="Ex. London " 
            required
            class="form-control" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" >

        <button mat-icon-button color="white" matSuffix  >
          <mat-icon align="end">search</mat-icon>
        </button>
      </mat-form-field>
     <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        {{showFormControls(searchCity)}}
      </div>
      <mat-nav-list>
        <a mat-list-item (click)="showInfo(location)" *ngFor="let location of locationList"> 
          {{ location.name + ' ' + location.country }}
        </a>
      </mat-nav-list>
     <!-- - -->
  <button type="submit" class="btn btn-success" [disabled]="!searchCity.form.valid">Submit</button>
    </form>
    </div>
    